.contact-header {
  height: 300px;
  background: url('../images/contact-header.jpg') no-repeat bottom right;
  background-size: cover;
}

.contact-header h1 {
  @include header-styles();
  margin-top: 75px;
  line-height: 0.7;
}

.contact-form {
  background-color: $color-grey;
}

.contact-fieldset {
  input[type="text"],
  input[type="email"],
  textarea {
    background-color: $color-grey;
  }
}

.social-links {
  li {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    color: $color-gold;
    font-size: 1.4rem;
  }
}

.contact-info {
  width: 205px;
  margin: 0 auto;
  padding: 100px 0;
  p:first-child {
    margin: 20px 0 25px 0;
  }
}