body {
  background-color: $color-brown;
  color: $color-light;
}

header {
  background: url('../images/home-header.jpg') no-repeat bottom right;
  background-size: cover;
  height: 100vh;
}

.site-title {
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  h1 {
    @include header-styles();
    text-align: center;
    line-height: 1;
    display: inline-block;
  }
    span {
      display: block;
      font-family: $font-sans-serif;
      @include header-styles(1.3rem, $color-light);
      letter-spacing: 2px; 
      text-align: left;
    }
}

.header-block-img {
  display: none;
}

section.intro, 
section.gallery, 
section.about1, 
section.about2 {
  padding: 50px 0;
}

.intro-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    @include header-styles(2rem);
    letter-spacing: 2px;
  }
  a {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 30px;
  }
}

div.intro-img {
  @include box-shadow();
}

section.gallery, 
section.about2 {
  background-color: $color-grey;
}

.gallery-imgs li {
  margin-bottom: 20px;
}

.gallery-imgs li:last-of-type {
  margin-bottom: 0;
}

.about1-content {
  display: flex;
  margin-bottom: 30px;
  .about1-icon {
    flex: 1 0 calc(50px - 10px);
    margin-right: 10px;
  }
  .about1-text {
    flex: 2 0 70%;
    padding-top: 13px;
    h2 {
      @include header-styles(1.8rem);
      letter-spacing: 2px;
      line-height: 0.9;
      margin-bottom: 10px;
    }
  }
}

.about1-content:last-child {
  margin-bottom: 0;
}

.about2-img {
  margin: 0 5% 50px 5%;
  @include box-shadow(15px, 15px, $color-gold);
}

.about2-content {
  .about2-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    margin-bottom: 50px;
    h2 {
      @include header-styles(1.8rem);
      letter-spacing: 2px;
      line-height: 0.9;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

.about2-content:last-child {
  .about2-img {
    margin: 0 5% 50px 5%;
    @include box-shadow(-15px, 15px, $color-gold);
  }
  .about2-text {
    margin-bottom: 0;
  }
}

.about3-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  h2 {
    @include header-styles(1.8rem);
      letter-spacing: 2px;
      line-height: 0.9;
      margin: 50px 0 10px 0;
  }
  p {
    margin-bottom: 30px;
  }
  a {
    margin-bottom: 50px;
  }
}

footer {
  padding: 10px;
  background-color: $color-grey;
  p {
    text-align: center;
  }
}
