body {
  background-color: $color-brown;
  color: $color-light;
}

header {
  background: url('../images/home-header.jpg') no-repeat bottom right;
  background-size: cover;
  height: 100vh;
}

.site-title {
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  h1 {
    @include header-styles();
    text-align: center;
    line-height: 1;
    display: inline-block;
  }
    span {
      display: block;
      font-family: $font-sans-serif;
      @include header-styles(1.3rem, $color-light);
      letter-spacing: 2px; 
      text-align: left;
    }
}

.header-block-img {
  display: none;
}

section.intro {
  padding: 50px 0;
}

.intro-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    @include header-styles(2rem);
    letter-spacing: 2px;
  }
  a {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 30px;
  }
}

div.intro-img {
  @include box-shadow();
}
