// for landscape phones and tablets
@media (min-width: 480px) {
  .gallery-imgs {
    max-width: 400px;
    margin: 0 auto;
  }

  .aside-content {
    max-width: 368px;
    margin: 0 auto;
  }
}

// for tablets and small desktops
@media (min-width: 768px) {
  .wrapper {
    width: 70%;
  }

  .site-title {
    align-items: end;
  }

  .about2-content, .about3-content {
    padding: 0 15%;
  }

  .blog-header, .contact-header {
    height: 400px;
    background-position: bottom right;
  }

  .post {
    padding-left: 15%;
    padding-right: 15%;
  }

  .comments {
    padding-left: 15%;
    padding-right: 15%;
  }

  .comments-content {
    flex-direction: initial;
    flex-wrap: wrap;
    align-items: flex-start;
    .comments-img {
      flex: 1 0 92px;
    }
    .comments-text {
      flex: 2 0 calc(80% - 30px);
      margin-left: 30px;
      h3 {
        margin-top: 0;
      }
    }
  }
}

.contact-header h1 {
  width: initial;
  line-height: initial;
}

form {
  padding-left: 15%;
  padding-right: 15%;
  fieldset {
    flex-direction: initial;
    flex-wrap: wrap;
    input[type="text"] {
      flex: 1 0 47%;
      margin-right: 3%;
    }
    input[type="email"] {
      flex: 1 0 47%;
      margin-left: 3%;
    }
  }
}

// for desktops 
@media (min-width: 940px) {
  .wrapper {
    width: 90%;
  }

  .top-bar {
    padding: 5% 10%;
  }

  .top-nav {
    label, input {
    display: none;
    position: initial;
    }
    ul {
      display: initial;
      box-shadow: initial;
      position: initial;
      display: flex;
      flex-wrap: wrap;
      li {
        background-color: initial;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .top-nav li a:hover,
  .top-nav li a:focus {
    color: $color-gold;
  }

  .home-header {
    height: 755px;
  }

  .header-content {
    display: flex;
    flex-direction: row-reverse;
  }

  .site-title {
    display: initial;
    margin: initial;
    flex: 1 0 calc(50% - 15px);
    margin-left: 15px;
    padding-top: 30px;
    h1 {
      font-size: 5rem;
      span {
        font-size: 2rem;
      }
    }
  }

  .header-block-img {
    display: initial;
    flex: 1 0 calc(50% - 15px);
    margin-right: 15px;
    img {
      max-width: 695px;
    }
  }
}



.scroll-up-btn {
  display: none;
}