// for landscape phones and tablets
@media (min-width: 480px) {
  .gallery-imgs {
    max-width: 400px;
    margin: 0 auto;
  }

  .aside-content {
    max-width: 368px;
    margin: 0 auto;
  }
}

// for tablets and small desktops
@media (min-width: 768px) {
  .wrapper {
    width: 70%;
  }

  .site-title {
    align-items: end;
  }

  .about2-content, .about3-content {
    padding: 0 15%;
  }

  .blog-header, .contact-header {
    height: 400px;
    background-position: bottom right;
  }

  .post {
    padding-left: 15%;
    padding-right: 15%;
  }

  .comments {
    padding-left: 15%;
    padding-right: 15%;
  }

  .comments-content {
    flex-direction: initial;
    flex-wrap: wrap;
    align-items: flex-start;
    .comments-img {
      flex: 1 0 92px;
    }
    .comments-text {
      flex: 2 0 calc(80% - 30px);
      margin-left: 30px;
      h3 {
        margin-top: 0;
      }
    }
  }
}

.contact-header h1 {
  width: initial;
  line-height: initial;
}

form {
  padding-left: 15%;
  padding-right: 15%;
  fieldset {
    flex-direction: initial;
    flex-wrap: wrap;
    input[type="text"] {
      flex: 1 0 47%;
      margin-right: 3%;
    }
    input[type="email"] {
      flex: 1 0 47%;
      margin-left: 3%;
    }
  }
}

// for desktops 
@media (min-width: 940px) {
  .wrapper {
    width: 90%;
  }

  .top-bar {
    padding: 5% 10%;
  }

  .top-nav {
    label, input {
    display: none;
    position: initial;
    }
    ul {
      display: initial;
      box-shadow: initial;
      position: initial;
      display: flex;
      flex-wrap: wrap;
      li {
        background-color: initial;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .top-nav li a:hover,
  .top-nav li a:focus {
    color: $color-gold;
  }

  .home-header {
    height: 755px;
    background-position: center;
    position: relative;
  }

  .header-content {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: -100px;
  }

  .site-title {
    display: initial;
    margin: initial;
    flex: 1 0 calc(50% - 15px);
    margin-left: 15px;
    padding-top: 30px;
    h1 {
      font-size: 5rem;
      span {
        font-size: 2rem;
      }
    }
  }

  .header-block-img {
    display: initial;
    flex: 1 0 calc(50% - 15px);
    margin-right: 15px;
    img {
      max-width: 695px;
    }
  }
}

section.intro {
  padding-top: 150px;
}

.intro-content {
  display: flex;
  align-items: center;
  .intro-txt {
    align-items: start;
    flex: 2 0 calc(70% - 100px);
    margin-right: 100px;
    p {
      margin-bottom: 15px;
    }
    a {
      margin-bottom: 0;
    }
  }
  .intro-img {
    flex: 1 0 30%;
  }
}

.gallery-imgs {
  display: flex;
  max-width: initial;
  margin: initial;
  li {
    margin: 0 10px;
    flex: 1 0 calc(33.3% - 20px);
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.about1-contents-container {
  display: flex;
  flex-wrap: wrap;
  .about1-content {
    flex: 1 0 50%;
  }
}

section.about2 {
  padding: initial;
}

.about2-contents-container {
  display: flex;
  .about2-content {
    padding: initial;
    flex: 1 0 50%;
    .about2-img {
      margin: 0 0 100px 0;
    } 
  }
}


.about2-content:first-child {
  .about2-text {
    align-items: end;
    p {
      text-align: right;
    }
  }
}



.scroll-up-btn {
  display: none;
}