form {
  padding: 50px 5%;
  fieldset { 
    display: flex;
    flex-direction: column;
    align-items: center;
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      margin-bottom: 30px;
      padding: 15px;
      background-color: $color-brown;
      color: $color-light;
      border: none;
      border-bottom: 2px solid $color-gold;
    }
    textarea {
      width: 100%;
      height: 200px;
      border: 2px solid $color-gold;
      font-family: Lato, sans-serif;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

input[type="text"],
input[type="email"],
::placeholder {
  color: $color-light;
  opacity: 1;
  font-size: 1rem;
  font-weight: 300;
}

