.logo {
  color: $color-gold;
  font-size: 2.5rem;
}

.top-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: $color-light;
}

.top-nav a:hover,
.top-nav a:focus {
  color: $color-gold;
}