@mixin link-styles {
  font-size: 1.8rem;
  letter-spacing: 1px;
  background-color: $color-green;
  color: $color-light;
  padding: 10px;
}

@mixin header-styles($font-size: 3.5rem, $font-color: $color-gold) {
  font-size: $font-size;
  color: $font-color;
}