body {
  font: 300 1.1rem/1.4 $font-sans-serif;
  letter-spacing: 1px;
}

.logo p, h1, h2, a, button, .aside-content h3 {
  font-family: $font-display;
}

.top-nav a, h3, ::placeholder {
  font-family: $font-sans-serif;
}