a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

body {
  font: 300 1.1rem/1.4 Lato, sans-serif;
  letter-spacing: 1px;
}

.logo p, h1, h2, a, button, .aside-content h3 {
  font-family: Dokdo, cursive;
}

.top-nav a, h3, ::-webkit-input-placeholder {
  font-family: Lato, sans-serif;
}

.top-nav a, h3, :-ms-input-placeholder {
  font-family: Lato, sans-serif;
}

.top-nav a, h3, ::-ms-input-placeholder {
  font-family: Lato, sans-serif;
}

.top-nav a, h3, ::placeholder {
  font-family: Lato, sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.intro-txt a,
.about2-content a,
.about3-content a {
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-color: #555f02;
  color: #fafffe;
  padding: 5px 10px;
  text-decoration: none;
}

button {
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-color: #555f02;
  color: #fafffe;
  padding: 5px 10px;
  border: none;
}

.intro-txt a:hover,
.intro-txt a:focus,
.about2-content a:hover,
.about2-content a:focus,
.about3-content a:hover,
.about3-content a:focus,
button:hover,
button:focus {
  color: #555f02;
  background-color: #fafffe;
}

div.about1-icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.7rem;
  color: #fafffe;
  background-color: #555f02;
  border-radius: 50%;
  border: 1px solid #555f02;
}

.logo {
  color: #ffc600;
  font-size: 1.8rem;
  line-height: 1.2;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.mobile-menu-label {
  color: #fafffe;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5%;
}

.top-nav {
  position: relative;
}

.top-nav label {
  cursor: pointer;
  font-size: 1.7rem;
  line-height: 1;
}

.top-nav ul {
  position: absolute;
  top: 37px;
  right: 5px;
  display: none;
}

.top-nav li {
  text-align: right;
  background-color: rgba(85, 95, 2, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #fafffe;
  padding: 5px 10px;
}

input[type="checkbox"]:checked + ul {
  display: block;
}

body {
  background-color: #1e140e;
  color: #fafffe;
}

header {
  background: url("../images/home-header.jpg") no-repeat bottom right;
  background-size: cover;
  height: 100vh;
}

.site-title {
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 220px;
}

.site-title h1 {
  font-size: 3.5rem;
  color: #ffc600;
  text-align: center;
  line-height: 1;
  display: inline-block;
}

.site-title span {
  display: block;
  font-family: Lato, sans-serif;
  font-size: 1.3rem;
  color: #fafffe;
  letter-spacing: 2px;
  text-align: left;
}

.header-block-img {
  display: none;
}

section.intro,
section.gallery,
section.about1,
section.about2 {
  padding: 50px 0;
}

.intro-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-txt h2 {
  font-size: 2rem;
  color: #ffc600;
  letter-spacing: 2px;
}

.intro-txt a {
  margin-bottom: 30px;
}

.intro-txt p {
  margin-bottom: 30px;
}

div.intro-img {
  -webkit-box-shadow: -15px 15px #555f02;
          box-shadow: -15px 15px #555f02;
}

section.gallery,
section.about2 {
  background-color: #262725;
}

.gallery-imgs li {
  margin-bottom: 20px;
}

.gallery-imgs li:last-of-type {
  margin-bottom: 0;
}

.about1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.about1-content .about1-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50px - 10px);
          flex: 1 0 calc(50px - 10px);
  margin-right: 10px;
}

.about1-content .about1-text {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 70%;
          flex: 2 0 70%;
  padding-top: 13px;
}

.about1-content .about1-text h2 {
  font-size: 2rem;
  color: #ffc600;
  letter-spacing: 2px;
  line-height: 0.9;
  margin-bottom: 10px;
}

.about1-content:last-child {
  margin-bottom: 0;
}

.about2-img {
  margin: 0 5% 50px 5%;
  -webkit-box-shadow: 15px 15px #ffc600;
          box-shadow: 15px 15px #ffc600;
}

.about2-content .about2-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5%;
  margin-bottom: 50px;
}

.about2-content .about2-text h2 {
  font-size: 2rem;
  color: #ffc600;
  letter-spacing: 2px;
  line-height: 0.9;
  margin-bottom: 10px;
}

.about2-content .about2-text p {
  margin-bottom: 30px;
}

.about2-content:last-child .about2-img {
  margin: 0 5% 50px 5%;
  -webkit-box-shadow: -15px 15px #ffc600;
          box-shadow: -15px 15px #ffc600;
}

.about2-content:last-child .about2-text {
  margin-bottom: 0;
}

.about3-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

.about3-content h2 {
  font-size: 2rem;
  color: #ffc600;
  letter-spacing: 2px;
  line-height: 0.9;
  margin: 50px 0 10px 0;
}

.about3-content p {
  margin-bottom: 30px;
}

.about3-content a {
  margin-bottom: 50px;
}

footer {
  padding: 10px;
  background-color: #262725;
}

footer p {
  text-align: center;
}
