a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

body {
  font: 300 1.1rem/1.4 Lato, sans-serif;
  letter-spacing: 1px;
}

.logo p, h1, h2, a, button, .aside-content h3 {
  font-family: Dokdo, cursive;
}

.top-nav a, h3, ::-webkit-input-placeholder {
  font-family: Lato, sans-serif;
}

.top-nav a, h3, :-ms-input-placeholder {
  font-family: Lato, sans-serif;
}

.top-nav a, h3, ::-ms-input-placeholder {
  font-family: Lato, sans-serif;
}

.top-nav a, h3, ::placeholder {
  font-family: Lato, sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.intro-txt a,
.about2-content a,
.about3-content a {
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-color: #555f02;
  color: #fafffe;
  padding: 5px 10px;
  text-decoration: none;
}

button {
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-color: #555f02;
  color: #fafffe;
  padding: 5px 10px;
  border: none;
}

.intro-txt a:hover,
.intro-txt a:focus,
.about2-content a:hover,
.about2-content a:focus,
.about3-content a:hover,
.about3-content a:focus,
button:hover,
button:focus {
  color: #555f02;
  background-color: #fafffe;
}

div.about1-icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.7rem;
  color: #fafffe;
  background-color: #555f02;
  border-radius: 50%;
  border: 1px solid #555f02;
}

.logo a {
  color: #ffc600;
  font-size: 1.8rem;
  line-height: 1.2;
  text-decoration: none;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.mobile-menu-label {
  color: #ffc600;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.top-nav {
  position: relative;
}

.top-nav label {
  cursor: pointer;
  font-size: 1.7rem;
  line-height: 1;
}

.top-nav ul {
  position: absolute;
  top: 37px;
  right: 5px;
  display: none;
  -webkit-box-shadow: -3px 3px #ffc600;
          box-shadow: -3px 3px #ffc600;
}

.top-nav li {
  text-align: right;
  background-color: #555f02;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #fafffe;
  padding: 5px 10px;
}

input[type="checkbox"]:checked + ul {
  display: block;
}

form {
  padding: 50px 5% 100px 5%;
}

form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form fieldset input[type="text"],
form fieldset input[type="email"],
form fieldset textarea {
  resize: none;
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #1e140e;
  color: #fafffe;
  border: none;
  border-bottom: 2px solid #ffc600;
}

form fieldset textarea {
  height: 200px;
  border: 2px solid #ffc600;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

form fieldset button {
  width: 100%;
}

input[type="text"],
input[type="email"],
::-webkit-input-placeholder {
  color: #fafffe;
  opacity: 1;
  font-size: 1rem;
  font-weight: 300;
}

input[type="text"],
input[type="email"],
:-ms-input-placeholder {
  color: #fafffe;
  opacity: 1;
  font-size: 1rem;
  font-weight: 300;
}

input[type="text"],
input[type="email"],
::-ms-input-placeholder {
  color: #fafffe;
  opacity: 1;
  font-size: 1rem;
  font-weight: 300;
}

input[type="text"],
input[type="email"],
::placeholder {
  color: #fafffe;
  opacity: 1;
  font-size: 1rem;
  font-weight: 300;
}

input:focus, textarea:focus {
  -webkit-box-shadow: -8px 8px 5px #000;
          box-shadow: -8px 8px 5px #000;
}

.scroll-up-btn {
  text-decoration: none;
  color: #fafffe;
  padding: 8px 12px;
  background-color: #555f02;
  -webkit-box-shadow: -3px 3px #ffc600;
          box-shadow: -3px 3px #ffc600;
  position: fixed;
  z-index: 10;
  bottom: 15px;
  right: 15px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1e140e;
  color: #fafffe;
}

.home-header {
  background: url("../images/home-header.jpg") no-repeat bottom right;
  background-size: cover;
  height: 100vh;
}

.site-title {
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 220px;
}

.site-title h1 {
  font-size: 3.5rem;
  color: #ffc600;
  text-align: center;
  line-height: 1;
  display: inline-block;
}

.site-title span {
  display: block;
  font-family: Lato, sans-serif;
  font-size: 1.3rem;
  color: #fafffe;
  letter-spacing: 2px;
  text-align: left;
}

.header-block-img {
  display: none;
}

section.intro,
section.gallery,
section.about1,
section.about2 {
  padding: 100px 0;
}

.intro-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-txt h2 {
  font-size: 2rem;
  color: #ffc600;
  letter-spacing: 2px;
}

.intro-txt a {
  margin-bottom: 30px;
}

.intro-txt p {
  margin-bottom: 30px;
}

div.intro-img {
  -webkit-box-shadow: -15px 15px #555f02;
          box-shadow: -15px 15px #555f02;
  max-width: 304px;
  margin: 0 auto;
}

section.gallery,
section.about2 {
  background-color: #262725;
}

.gallery-imgs li {
  margin-bottom: 20px;
}

.gallery-imgs li:last-of-type {
  margin-bottom: 0;
}

.about1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.about1-content .about1-icon {
  margin-right: 20px;
}

.about1-content .about1-text {
  padding-top: 13px;
}

.about1-content .about1-text h2 {
  font-size: 2rem;
  color: #ffc600;
  letter-spacing: 2px;
  line-height: 0.9;
  margin-bottom: 10px;
}

.about1-content:last-child {
  margin-bottom: 0;
}

.about2-img {
  margin: 0 5% 50px 5%;
  -webkit-box-shadow: 15px 15px #ffc600;
          box-shadow: 15px 15px #ffc600;
}

.about2-content .about2-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5%;
  margin-bottom: 50px;
}

.about2-content .about2-text h2 {
  font-size: 2rem;
  color: #ffc600;
  letter-spacing: 2px;
  line-height: 0.9;
  margin-bottom: 10px;
}

.about2-content .about2-text p {
  margin-bottom: 30px;
}

.about2-content:last-child .about2-img {
  margin: 0 5% 50px 5%;
  -webkit-box-shadow: -15px 15px #ffc600;
          box-shadow: -15px 15px #ffc600;
}

.about2-content:last-child .about2-text {
  margin-bottom: 0;
}

.about3-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 5%;
}

.about3-content h2 {
  font-size: 2rem;
  color: #ffc600;
  letter-spacing: 2px;
  line-height: 0.9;
  margin: 50px 0 10px 0;
}

.about3-content p {
  margin-bottom: 30px;
}

.about3-content a {
  margin-bottom: 50px;
}

.blog-header {
  height: 300px;
  background: url("../images/blog-header.jpg") no-repeat bottom right -200px;
  background-size: cover;
}

.blog-header h1 {
  font-size: 3.5rem;
  color: #ffc600;
  margin-top: 75px;
}

.post {
  padding: 100px 5%;
}

.post .blog-img {
  -webkit-box-shadow: 15px 15px #555f02;
          box-shadow: 15px 15px #555f02;
}

.blog-text h2 {
  font-size: 2rem;
  color: #ffc600;
  letter-spacing: 2px;
  line-height: 0.9;
  margin-top: 50px;
}

.blog-text h3 {
  font-size: 0.8rem;
  color: #fafffe;
  font-style: italic;
  font-weight: 400;
  margin: 10px 0 20px 0;
}

.blog-text h3 span {
  font-weight: 700;
}

.blog-text p {
  margin-bottom: 20px;
  font-size: 1rem;
}

.blog-text p:last-child {
  margin-bottom: 0;
}

.comments {
  padding: 0 5% 50px 5%;
}

.comments h2 {
  font-size: 2rem;
  color: #fafffe;
  letter-spacing: 2px;
  line-height: 0.9;
  margin-bottom: 30px;
}

.comments-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.comments-content:last-child {
  margin-bottom: 0;
}

.comments-content .comments-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comments-content .comments-img img {
  max-width: 92px;
}

.comments-content .comments-text {
  font-size: 1rem;
}

.comments-content .comments-text h3 {
  font-size: 1rem;
  color: #ffc600;
  font-weight: 400;
  margin: 10px 0;
}

aside {
  background-color: #555f02;
}

aside .aside-content {
  padding: 100px 5%;
}

aside .aside-content h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 15px 0 5px 0;
}

aside .aside-content h3:last-of-type {
  margin-top: 25px;
}

aside .aside-content p, aside .aside-content ul {
  font-size: 1rem;
}

.contact-header {
  height: 300px;
  background: url("../images/contact-header.jpg") no-repeat bottom right;
  background-size: cover;
}

.contact-header h1 {
  font-size: 3.5rem;
  color: #ffc600;
  margin-top: 75px;
  line-height: 0.7;
}

.contact-form {
  background-color: #262725;
}

.contact-fieldset input[type="text"],
.contact-fieldset input[type="email"],
.contact-fieldset textarea {
  background-color: #262725;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  color: #ffc600;
  font-size: 1.4rem;
}

.contact-info {
  width: 205px;
  margin: 0 auto;
  padding: 100px 0;
}

.contact-info p:first-child {
  margin: 20px 0 25px 0;
}

footer {
  padding: 10px;
  background-color: #262725;
}

footer p {
  text-align: center;
  font-size: 1rem;
}

@media (min-width: 480px) {
  .gallery-imgs {
    max-width: 400px;
    margin: 0 auto;
  }
  .aside-content {
    max-width: 368px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 70%;
  }
  .site-title {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 290px;
  }
  .site-title h1 {
    font-size: 5rem;
  }
  .site-title h1 span {
    font-size: 1.8rem;
  }
  .about2-content, .about3-content {
    padding: 0 15%;
  }
  .blog-header, .contact-header {
    height: 400px;
    background-position: bottom right;
  }
  .blog-header h1 {
    margin-top: 160px;
  }
  .post {
    padding-left: 15%;
    padding-right: 15%;
  }
  .comments {
    padding-left: 15%;
    padding-right: 15%;
  }
  .comments-content {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .comments-content .comments-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 92px;
            flex: 1 0 92px;
  }
  .comments-content .comments-text {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 calc(80% - 30px);
            flex: 2 0 calc(80% - 30px);
    margin-left: 30px;
  }
  .comments-content .comments-text h3 {
    margin-top: 0;
  }
  .contact-header h1 {
    line-height: initial;
    margin-top: 160px;
  }
  form {
    padding-left: 15%;
    padding-right: 15%;
  }
  form fieldset {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  form fieldset input[type="text"] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 47%;
            flex: 1 0 47%;
    margin-right: 3%;
  }
  form fieldset input[type="email"] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 47%;
            flex: 1 0 47%;
    margin-left: 3%;
  }
}

@media (min-width: 940px) {
  .wrapper {
    width: 90%;
  }
  .top-nav label, .top-nav input {
    display: none;
    position: initial;
  }
  .top-nav ul {
    display: initial;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .top-nav ul li {
    background-color: initial;
    margin-right: 20px;
  }
  .top-nav ul li:last-child {
    margin-right: 0;
  }
  .logo a:hover,
  .logo a:focus {
    color: #fafffe;
  }
  .top-nav li a:hover,
  .top-nav li a:focus {
    color: #ffc600;
  }
  .home-header {
    height: 600px;
    background-position: center;
    position: relative;
  }
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: absolute;
    bottom: -100px;
  }
  .site-title {
    display: initial;
    margin: initial;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(50% - 15px);
            flex: 1 0 calc(50% - 15px);
    margin-left: 15px;
    padding-top: 30px;
  }
  .site-title h1 {
    font-size: 6rem;
    letter-spacing: 2px;
  }
  .site-title h1 span {
    font-size: 2rem;
  }
  .header-block-img {
    display: initial;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(50% - 20px);
            flex: 1 0 calc(50% - 20px);
    margin-right: 20px;
  }
  .header-block-img img {
    max-width: 695px;
  }
  section.intro {
    padding-top: 150px;
  }
  .intro-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-content .intro-txt {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 calc(70% - 100px);
            flex: 2 0 calc(70% - 100px);
    margin-right: 100px;
  }
  .intro-content .intro-txt h2 {
    font-size: 2.3rem;
    letter-spacing: 3px;
  }
  .intro-content .intro-txt p {
    margin-bottom: 15px;
  }
  .intro-content .intro-txt a {
    margin-bottom: 0;
  }
  .intro-content .intro-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
  .gallery-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: initial;
    margin: initial;
  }
  .gallery-imgs li {
    margin: 0 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(33.3% - 30px);
            flex: 1 0 calc(33.3% - 30px);
  }
  .gallery-imgs li:first-child {
    margin-left: 0;
  }
  .gallery-imgs li:last-child {
    margin-right: 0;
  }
  .about1-contents-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about1-contents-container .about1-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .about1-contents-container .about1-content .about1-text {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  section.about2 {
    padding: initial;
  }
  .about2-contents-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about2-contents-container .about2-content {
    padding: initial;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(50% - 75px);
            flex: 1 0 calc(50% - 75px);
    margin: 0 75px;
    max-width: 670px;
  }
  .about2-contents-container .about2-content .about2-img {
    margin: 0 0 100px 0;
  }
  .about2-contents-container .about2-content .about2-text {
    padding: 0;
  }
  .about2-content:first-child {
    margin-left: 0;
    position: relative;
    top: -20px;
  }
  .about2-content:first-child .about2-text {
    padding-left: 100px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .about2-content:first-child .about2-text p {
    text-align: right;
  }
  .about2-content:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-right: 0;
    position: relative;
    bottom: -20px;
  }
  .about2-content:last-child .about2-img {
    margin: 100px 0 0 0;
  }
  .about2-content:last-child .about2-text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 100px;
  }
  .about3-content {
    padding: 100px 15%;
  }
  .blog-header {
    height: 500px;
    background-position: center;
  }
  .blog-header h1 {
    font-size: 5rem;
    letter-spacing: 4px;
    margin-top: 200px;
  }
  .blog-contents-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blog-contents-container .blog-post {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 calc(70% - 100px);
            flex: 2 0 calc(70% - 100px);
    margin-right: 100px;
    position: relative;
    top: -100px;
  }
  .blog-contents-container .blog-post .post {
    padding: 0;
    border-right: 4px solid #555f02;
    border-bottom: 4px solid #555f02;
  }
  .blog-contents-container aside {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(30% - 75px);
            flex: 1 0 calc(30% - 75px);
    margin-left: 75px;
    border-left: 15px solid #555f02;
    border-bottom: 13px solid #555f02;
    position: relative;
    top: 120px;
    max-width: 368px;
  }
  .blog-contents-container aside .aside-content {
    padding: 0;
    position: relative;
    top: -15px;
  }
  .post .blog-img {
    margin-right: 15px;
    position: relative;
    top: -15px;
  }
  .blog-text, .comments {
    padding: 20px 50px 30px 120px;
  }
  .blog-text h2 {
    margin-top: 35px;
  }
  .blog-text h3 {
    margin-bottom: 35px;
  }
  .blog-text p {
    margin-bottom: 25px;
  }
  .blog-form {
    padding: 20px 0 0 120px;
  }
  .comments {
    padding-top: 50px;
  }
  .comments h2 {
    margin-bottom: 40px;
  }
  .comments .comments-content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .contact-header {
    height: 500px;
    background-position: center;
  }
  .contact-header h1 {
    font-size: 5rem;
    letter-spacing: 4px;
    margin-top: 200px;
  }
  .contact-contents-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 100px 50px 0 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-contents-container .contact-form {
    padding: 50px;
    -webkit-box-shadow: 15px 15px #ffc600;
            box-shadow: 15px 15px #ffc600;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 calc(80% - 130px);
            flex: 2 0 calc(80% - 130px);
    margin-right: 130px;
    position: relative;
    top: -200px;
    max-width: 900px;
  }
  .contact-contents-container section {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .contact-info {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
    width: auto;
  }
  .social-links li a:hover,
  .social-links li a:focus {
    color: #fafffe;
  }
  .scroll-up-btn {
    display: none;
  }
}
